<% @questions.each do |question| %>
  <%= question.title %>
<% end %>

<form method="POST" action="/questions">
  <label>Title: <input type="text" name="question[title]"></label>
  <input type="submit" value="Ask Away!">
</form>
